<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Satisfação Cast</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background: url('/Content/Imagens/gourmet-food-bg.png')">
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="" style="position:absolute;bottom:0">
        <img style="width:70%" src="~/Content/Imagens/cody.png" />
    </div>  

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")

    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
